.calendar-div {
  display: flex;
  margin-top: 40px;
  justify-content: space-evenly;
}
.rbc-event {
  background: #8b8787;
}

.rbc-selected {
  background: #8b8787;
}
.rbc-event.rbc-selected {
  background: #8b8787;
}
.rbc-event:hover {
  background-color: black;
}
.rbc-event-allday {
  background: #8b8787;
}

.detail-text{
  font-size:16px;
  opacity: 0.8;
  margin-top: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.153);
  width: 460px;
}
@media screen and (max-width: 760px) {
  .calendar-div {
    display: grid;
  }
  .rbc-toolbar-label {
    position: absolute;
  }
  .rbc-btn-group {
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .detail-text{
    width:300px;
    border-bottom: none;
  }
}


/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
