@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap");
.img-grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  margin-top: 80px;
}

.img-wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  position: relative;
  opacity: 0.8;
  margin-bottom: 40px;
}
.motion-img{
  border-radius: 10px;
}
.img-wrap img {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.tirtik {
  position: relative;
  color: white;
  background-color: #000;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.tirtik:after {
  content: "";
  position: absolute;
  display: block;
  height: 10px;
  bottom: -10px;
  /* -height */
  left: 0;
  right: 0;
  /* TODO Add browser prefixes */
  background: linear-gradient(
      45deg,
      transparent 33.333%,
      #000 33.333%,
      #000 66.667%,
      transparent 66.667%
    ),
    linear-gradient(
      -45deg,
      transparent 33.333%,
      #000 33.333%,
      #000 66.667%,
      transparent 66.667%
    );
  background-size: 8px 20px;
  /* toothSize doubleHeight */
  background-position: 0 -10px;
  /* horizontalOffset -height */
}
.tusec-img {
  width: 700px;
  height: 650px;
  margin-bottom: 160px;
  margin-top: 100px;
}
.tusec-img-2 {
  width: 700px;
  height: 100%;
}
.metin-row {
  margin-top: 30px;
  margin-bottom: 50px;
}
.tirtik p {
  padding: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 20px;
  text-align: justify;
}
.tirtik2 p {
  font-family: "Roboto Mono", monospace;
}
.tusec-img-text {
  font-size: 40px;
  font-weight: bold;
  margin-top: -230px;
}
.bg-img {
  height: 1080px;
}
@media screen and (max-width: 480px) {
  .tusec-img {
    width: 380px;
    margin-left: -10px;
    height: 400px;
  }
  .bg-img {
    margin-top: -30px;
    height: 680px;
  }
  .tusec-img-2 {
    margin-left: -25px;
    width: 365px;
  }
  .col-md-3 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .img-grid {
    display: block;
  }
  .img-wrap {
    margin-bottom: 30px;
  }

  .metin-row {
    padding: 20px;
  }
  .tirtik p {
    font-size: 15px;
    padding: 40px;
  }
  .tusec-img-text {
    font-size: 15px;
    margin-top: -200px;
  }
  
}
@media screen and (max-width: 1023px) {
  
}
.icon-hover :hover {
  cursor: pointer;
}
.bg-img {
  background-image: url("../../assets/bg.jpg");
}

.tusec-kisiler {
  margin-top: 80px;
  margin-bottom: 80px;
}
