.blog-container {
  margin-top: 150px;
  margin-bottom: 150px;
}
.haber-list {
  list-style-type: none;
  list-style: none;
}
.haber-list li {
  margin-bottom: 20px;
  font-size: 20px;
}
.haber-row {
  display: flex;
  margin-bottom: 30px;
}
.haber-image {
  width: 280px;
  height: 157.5px;
}
.haber-col ul {
  margin-left: -10px;
}
.haber-col {
  padding-left: 25px;
}
.tusec-text {
  color: #5a5d61;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 11px;
  margin-left: -14px;
  align-items: center;
}
.tusec-text::before {
  content: "";
  display: inline-flex;
  width: 6px;
  height: 6px;
  border: 1px solid #1b1c1d;
  background-color: #efefee;
  margin-right: 9px;
  border-radius: 50%;
}
.haber-col .haber-baslik {
  color: #1b1c1d;
  -webkit-tap-highlight-color: transparent;
}
.haber-col .haber-aciklama {
  font-size: 15px;
}
.populer-text {
  font-size: 20px;
  font-weight: 600;
  color: #1b1c1d;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  display: inline-block;
  position: relative;
  padding-top: 14px;
  margin-left: 30px;
  padding-right: 25px;
}
.yazar {
  font-size: 12px;
  font-weight: 500;
  opacity: 0.8;
}
.haber-list .haber {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 16px 0;
  border-bottom: 1px solid #9a9a9a;
}
.haber-list .border-none-haber {
  border-bottom: none;
}
.haber-list .haber .haber-number {
  width: 50px;
  flex-shrink: 0;
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
}
.haber-list .haber .haber-text {
  line-height: 1.25;
  font-size: 15px;
  font-weight: 600;
  color: #121212;
}
.haber-baslik a {
  text-decoration: none;
  color: #1b1c1d;
}

.haber-baslik a:hover:after {
  width: 30%;
  background: #9a9a9a;
}
.haber-baslik a:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}
.haber-text span:hover:after {
  width: 70%;
  background: #9a9a9a;
}
.haber-text span:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}
.haber-aciklama{
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}
@media screen and (max-width: 768px) {
  .populer-haberler {
    display: none;
  }
  .haber-image {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }
  .haber-col {
    margin: 0;
    padding: 0;
  }
  .haber-row {
    display: block;
  }
}
